/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --dscolorprimarycolorpalettegreen1100: #0e2a21;
  --dscolorprimarycolorpalettegreen1000: #1c4130;
  --dscolorprimarycolorpalettegreen900: #2d6944;
  --dscolorprimarycolorpalettegreen800: #3c884d;
  --dscolorprimarycolorpalettegreen700: #4ca45a;
  --dscolorprimarycolorpalettegreen600: #5ab261;
  --dscolorprimarycolorpalettegreen500: #78c767;
  --dscolorprimarycolorpalettegreen400: #8fda75;
  --dscolorprimarycolorpalettegreen300: #a9e297;
  --dscolorprimarycolorpalettegreen200: #ccf0c2;
  --dscolorprimarycolorpalettegreen100: #ddf3d9;
  --dscolorprimarycolorpalettegreen0: #eef9ec;
  --dscolorprimarycolorpaletteblue1100: #082036;
  --dscolorprimarycolorpaletteblue1000: #18395d;
  --dscolorprimarycolorpaletteblue900: #245685;
  /* This is our new main color :) */
  --dscolorprimarycolorpaletteblue800: #306ca5;
  --dscolorprimarycolorpaletteblue700: #3a79bd;
  --dscolorprimarycolorpaletteblue600: #4587cd;
  --dscolorprimarycolorpaletteblue500: #5196dd;
  --dscolorprimarycolorpaletteblue400: #6aacef;
  --dscolorprimarycolorpaletteblue300: #aad2f4;
  --dscolorprimarycolorpaletteblue200: #cde3f7;
  --dscolorprimarycolorpaletteblue100: #e0f1fe;
  --dscolorprimarycolorpaletteblue0: #ecf8fe;
  /* Darkest aqua there is */
  --dscolorprimarycolorpaletteaqua1100: #0b2737;
  /* Slightly less aquatic, still deep as an ocean */
  --dscolorprimarycolorpaletteaqua1000: #193c4d;
  --dscolorprimarycolorpaletteaqua900: #265d71;
  --dscolorprimarycolorpaletteaqua800: #316c82;
  --dscolorprimarycolorpaletteaqua700: #3a8396;
  --dscolorprimarycolorpaletteaqua600: #4295ab;
  --dscolorprimarycolorpaletteaqua500: #54b5cb;
  --dscolorprimarycolorpaletteaqua400: #6ad3df;
  --dscolorprimarycolorpaletteaqua300: #91e2e1;
  --dscolorprimarycolorpaletteaqua200: #b5f0f1;
  --dscolorprimarycolorpaletteaqua100: #d0f7f8;
  --dscolorprimarycolorpaletteaqua0: #e0fbfb;
  --dscolorprimarycolorpalettepurple1100: #1d1e36;
  --dscolorprimarycolorpalettepurple1000: #2b2667;
  --dscolorprimarycolorpalettepurple900: #453e96;
  --dscolorprimarycolorpalettepurple800: #5a52b4;
  --dscolorprimarycolorpalettepurple700: #6b62cc;
  --dscolorprimarycolorpalettepurple600: #7d73e2;
  --dscolorprimarycolorpalettepurple500: #8d84ed;
  --dscolorprimarycolorpalettepurple400: #9e95ec;
  --dscolorprimarycolorpalettepurple300: #c0c2f3;
  --dscolorprimarycolorpalettepurple200: #d8d8f6;
  --dscolorprimarycolorpalettepurple100: #eaeaf8;
  --dscolorprimarycolorpalettepurple0: #f2f2f8;
  --dscolorprimarycolorpaletteneutral1100: #040404;
  --dscolorprimarycolorpaletteneutral1000: #182020;
  --dscolorprimarycolorpaletteneutral900: #293333;
  --dscolorprimarycolorpaletteneutral800: #384141;
  --dscolorprimarycolorpaletteneutral700: #545e5f;
  --dscolorprimarycolorpaletteneutral600: #70797a;
  --dscolorprimarycolorpaletteneutral500: #939a9b;
  --dscolorprimarycolorpaletteneutral400: #b1b6b7;
  --dscolorprimarycolorpaletteneutral300: #c9cccc;
  --dscolorprimarycolorpaletteneutral200: #dfe1e1;
  --dscolorprimarycolorpaletteneutral100: #f3f4f4;
  --dscolorprimarycolorpaletteneutral0: #ffffff;
  --dscolorprimarycolorpaletteteal1100: #0b2427;
  --dscolorprimarycolorpaletteteal1000: #1b3e3e;
  --dscolorprimarycolorpaletteteal900: #2a6461;
  --dscolorprimarycolorpaletteteal800: #357a7b;
  --dscolorprimarycolorpaletteteal700: #42948e;
  --dscolorprimarycolorpaletteteal600: #4aa69c;
  --dscolorprimarycolorpaletteteal500: #58c1b2;
  --dscolorprimarycolorpaletteteal400: #6addc6;
  --dscolorprimarycolorpaletteteal300: #97e7d5;
  --dscolorprimarycolorpaletteteal200: #c0f0e6;
  --dscolorprimarycolorpaletteteal100: #d5f6ef;
  --dscolorprimarycolorpaletteteal0: #e9f8f5;
  --dscolorprimarycolorpalettepink1100: #281821;
  --dscolorprimarycolorpalettepink1000: #4f1930;
  --dscolorprimarycolorpalettepink900: #872647;
  --dscolorprimarycolorpalettepink800: #a43b5b;
  --dscolorprimarycolorpalettepink700: #be4466;
  --dscolorprimarycolorpalettepink600: #cf517c;
  --dscolorprimarycolorpalettepink500: #de638b;
  --dscolorprimarycolorpalettepink400: #ee7fad;
  --dscolorprimarycolorpalettepink300: #f19bc0;
  --dscolorprimarycolorpalettepink200: #f4b8d4;
  --dscolorprimarycolorpalettepink100: #f7dcea;
  --dscolorprimarycolorpalettepink0: #fbeaf2;
  --dscolorprimarycolorpalettered1100: #281212;
  --dscolorprimarycolorpalettered1000: #641c18;
  --dscolorprimarycolorpalettered900: #8d2d28;
  --dscolorprimarycolorpalettered800: #b6403b;
  --dscolorprimarycolorpalettered700: #ca4b45;
  --dscolorprimarycolorpalettered600: #dc584a;
  --dscolorprimarycolorpalettered500: #e56a5b;
  --dscolorprimarycolorpalettered400: #ef8674;
  --dscolorprimarycolorpalettered300: #f1a193;
  --dscolorprimarycolorpalettered200: #f4bbb3;
  --dscolorprimarycolorpalettered100: #f8d7d3;
  --dscolorprimarycolorpalettered0: #fbebe9;
  --dscolorprimarycolorpaletteorange1100: #2a140f;
  --dscolorprimarycolorpaletteorange1000: #581d09;
  --dscolorprimarycolorpaletteorange900: #8a341a;
  --dscolorprimarycolorpaletteorange800: #bf5c29;
  --dscolorprimarycolorpaletteorange700: #de763a;
  --dscolorprimarycolorpaletteorange600: #e68246;
  --dscolorprimarycolorpaletteorange500: #ee8e53;
  --dscolorprimarycolorpaletteorange400: #f2a069;
  /* This is our main color. And this description will show inside the documentation */
  --dscolorprimarycolorpaletteorange300: #f4b388;
  --dscolorprimarycolorpaletteorange200: #f6c7a9;
  --dscolorprimarycolorpaletteorange100: #f7ddce;
  --dscolorprimarycolorpaletteorange0: #fceee4;
  --dscolorprimarycolorpaletteyellow1100: #2a1b08;
  --dscolorprimarycolorpaletteyellow1000: #4e2c0b;
  --dscolorprimarycolorpaletteyellow900: #8b4f1f;
  --dscolorprimarycolorpaletteyellow800: #b0772a;
  --dscolorprimarycolorpaletteyellow700: #d49b35;
  --dscolorprimarycolorpaletteyellow600: #f6be41;
  --dscolorprimarycolorpaletteyellow500: #f8ce4c;
  --dscolorprimarycolorpaletteyellow400: #fad961;
  --dscolorprimarycolorpaletteyellow300: #fbe17f;
  --dscolorprimarycolorpaletteyellow200: #fbe9a4;
  --dscolorprimarycolorpaletteyellow100: #fbeed1;
  --dscolorprimarycolorpaletteyellow0: #fef8e4;
  --dscolorprimarycolorpalettemagenta1100: #271a2c;
  --dscolorprimarycolorpalettemagenta1000: #3f1a4e;
  --dscolorprimarycolorpalettemagenta900: #642a73;
  --dscolorprimarycolorpalettemagenta800: #854091;
  --dscolorprimarycolorpalettemagenta700: #a04da3;
  --dscolorprimarycolorpalettemagenta600: #b659b4;
  --dscolorprimarycolorpalettemagenta500: #cc6bd5;
  --dscolorprimarycolorpalettemagenta400: #e38aef;
  --dscolorprimarycolorpalettemagenta300: #e3b1ee;
  --dscolorprimarycolorpalettemagenta200: #ecc7f4;
  --dscolorprimarycolorpalettemagenta100: #f5e4fa;
  --dscolorprimarycolorpalettemagenta0: #fcf0fe;
  --dscolorprimarycolorsemanticcolorinfobackground: var(--dscolorprimarycolorpaletteblue100);
  --dscolorprimarycolorsemanticcolorinfoborder: var(--dscolorprimarycolorpaletteblue500);
  --dscolorprimarycolorsemanticcolorinfocolor: var(--dscolorprimarycolorpaletteblue700);
  --dscolorprimarycolorsemanticcolorinfoicon: var(--dscolorprimarycolorpaletteblue800);
  /* Used for error backgrunds */
  --dscolorprimarycolorsemanticcolorerrorbackground: var(--dscolorprimarycolorpalettered100);
  --dscolorprimarycolorsemanticcolorerrorborder: var(--dscolorprimarycolorpalettered600);
  --dscolorprimarycolorsemanticcolorerrorcolor: var(--dscolorprimarycolorpalettered800);
  --dscolorprimarycolorsemanticcolorerroricon: var(--dscolorprimarycolorpalettered800);
  --dscolorprimarycolorsemanticcoloropportunitybackground: var(--dscolorprimarycolorpaletteteal100);
  --dscolorprimarycolorsemanticcoloropportunityborder: var(--dscolorprimarycolorpaletteaqua300);
  --dscolorprimarycolorsemanticcoloropportunitycolor: var(--dscolorprimarycolorpaletteaqua800);
  --dscolorprimarycolorsemanticcoloropportunityicon: var(--dscolorprimarycolorpaletteaqua700);
  --dscolorprimarycolorsemanticcolorprimarybackground: var(--dscolorprimarycolorpalettemagenta500);
  --dscolorprimarycolorsemanticcolorprimaryactivebackground: var(--dscolorprimarycolorpalettemagenta500);
  --dscolorprimarycolorsemanticcolorprimaryhoverbackground: var(--dscolorprimarycolorpalettemagenta800);
  --dscolorprimarycolorsemanticcolorprimaryhovercolor: var(--dscolorprimarycolorpalettemagenta1000);
  --dscolorprimarycolorsemanticcolorprimaryhoverinnactivebackground: var(--dscolorprimarycolorpalettemagenta100);
  --dscolorprimarycolorsemanticcolorprimaryhoverinnactivecolor: var(--dscolorprimarycolorpalettemagenta700);
  --dscolorprimarycolorsemanticcolorprimaryborder: var(--dscolorprimarycolorpalettemagenta600);
  --dscolorprimarycolorsemanticcolorprimaryhoveractivebackground: var(--dscolorprimarycolorpalettemagenta400);
  --dscolorprimarycolorsemanticcolorprimarycolor: var(--dscolorprimarycolorpaletteneutral0);
  /* Some test description */
  --dscolorprimarycolorsemanticcolorsalesale30background: var(--dscolorprimarycolorpaletteteal500);
  --dscolorprimarycolorsemanticcolorsalesale50background: var(--dscolorprimarycolorpalettepink600);
  --dscolorprimarycolorsemanticcolorsalesale70background: var(--dscolorprimarycolorpaletteyellow600);
  --dscolorprimarycolorsemanticcolorsalecolor: var(--dscolorprimarycolorpaletteneutral0);
  --dscolorprimarycolorsemanticcolorsuccessbackground: var(--dscolorprimarycolorpaletteaqua100);
  --dscolorprimarycolorsemanticcolorsuccessborder: var(--dscolorprimarycolorpaletteblue1000);
  --dscolorprimarycolorsemanticcolorsuccesscolor: var(--dscolorprimarycolorpaletteblue900);
  --dscolorprimarycolorsemanticcolorsuccessicon: var(--dscolorprimarycolorpaletteblue800);
  --dscolorprimarycolorsemanticcolortextbody: var(--dscolorprimarycolorpalettemagenta1000);
  --dscolorprimarycolorsemanticcolortextheadline: var(--dscolorprimarycolorpaletteorange1100);
  --dscolorprimarycolorsemanticcolortextinverse: var(--dscolorprimarycolorpaletteneutral0);
  --dscolorprimarycolorsemanticcolortextsubtext: var(--dscolorprimarycolorpaletteneutral700);
  --dscolorprimarycolorsemanticcolorwarningbackground: var(--dscolorprimarycolorpaletteorange700);
  --dscolorprimarycolorsemanticcolorwarningborder: var(--dscolorprimarycolorpaletteorange600);
  --dscolorprimarycolorsemanticcolorwarningcolor: var(--dscolorprimarycolorpaletteorange900);
  --dscolorprimarycolorsemanticcolorwarningicon: var(--dscolorprimarycolorpaletteorange800);
  --dscolorprimarycolorbuttonbackgroundactive: var(--dscolorprimarycolorsemanticcolorprimarybackground);
  --dscolorprimarycolorbuttonbackgroundhover: var(--dscolorprimarycolorsemanticcolorprimaryhoverbackground);
  --dscolorprimarycolorbuttonbackgroundinnactive: var(--dscolorprimarycolorsemanticcolorprimaryhoverinnactivebackground);
  --dscolorprimarycolorbuttoncoloractive: var(--dscolorprimarycolorsemanticcolorprimarycolor);
  --dscolorprimarycolorbuttoncolorhover: var(--dscolorprimarycolorsemanticcolorprimaryhovercolor);
  --dscolorprimarycolorbuttoncolorinnactive: var(--dscolorprimarycolorsemanticcolorprimaryhoverinnactivecolor);
}