/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --dmcolorprmarycolorpalettegreen1100: #0e2a21;
  --dmcolorprmarycolorpalettegreen1000: #1c4130;
  --dmcolorprmarycolorpalettegreen900: #2d6944;
  --dmcolorprmarycolorpalettegreen800: #3c884d;
  --dmcolorprmarycolorpalettegreen700: #4ca45a;
  --dmcolorprmarycolorpalettegreen600: #5ab261;
  --dmcolorprmarycolorpalettegreen500: #78c767;
  --dmcolorprmarycolorpalettegreen400: #8fda75;
  --dmcolorprmarycolorpalettegreen300: #a9e297;
  --dmcolorprmarycolorpalettegreen200: #ccf0c2;
  --dmcolorprmarycolorpalettegreen100: #ddf3d9;
  --dmcolorprmarycolorpalettegreen0: #eef9ec;
  --dmcolorprmarycolorpaletteblue1100: #082036;
  --dmcolorprmarycolorpaletteblue1000: #18395d;
  --dmcolorprmarycolorpaletteblue900: #245685;
  /* This is our new main color :) */
  --dmcolorprmarycolorpaletteblue800: #306ca5;
  --dmcolorprmarycolorpaletteblue700: #3a79bd;
  --dmcolorprmarycolorpaletteblue600: #4587cd;
  --dmcolorprmarycolorpaletteblue500: #5196dd;
  --dmcolorprmarycolorpaletteblue400: #6aacef;
  --dmcolorprmarycolorpaletteblue300: #aad2f4;
  --dmcolorprmarycolorpaletteblue200: #cde3f7;
  --dmcolorprmarycolorpaletteblue100: #e0f1fe;
  --dmcolorprmarycolorpaletteblue0: #ecf8fe;
  /* Darkest aqua there is */
  --dmcolorprmarycolorpaletteaqua1100: #0b2737;
  /* Slightly less aquatic, still deep as an ocean */
  --dmcolorprmarycolorpaletteaqua1000: #193c4d;
  --dmcolorprmarycolorpaletteaqua900: #265d71;
  --dmcolorprmarycolorpaletteaqua800: #316c82;
  --dmcolorprmarycolorpaletteaqua700: #3a8396;
  --dmcolorprmarycolorpaletteaqua600: #4295ab;
  --dmcolorprmarycolorpaletteaqua500: #54b5cb;
  --dmcolorprmarycolorpaletteaqua400: #6ad3df;
  --dmcolorprmarycolorpaletteaqua300: #91e2e1;
  --dmcolorprmarycolorpaletteaqua200: #b5f0f1;
  --dmcolorprmarycolorpaletteaqua100: #d0f7f8;
  --dmcolorprmarycolorpaletteaqua0: #e0fbfb;
  --dmcolorprmarycolorpalettepurple1100: #1d1e36;
  --dmcolorprmarycolorpalettepurple1000: #2b2667;
  --dmcolorprmarycolorpalettepurple900: #453e96;
  --dmcolorprmarycolorpalettepurple800: #5a52b4;
  --dmcolorprmarycolorpalettepurple700: #6b62cc;
  --dmcolorprmarycolorpalettepurple600: #7d73e2;
  --dmcolorprmarycolorpalettepurple500: #8d84ed;
  --dmcolorprmarycolorpalettepurple400: #9e95ec;
  --dmcolorprmarycolorpalettepurple300: #c0c2f3;
  --dmcolorprmarycolorpalettepurple200: #d8d8f6;
  --dmcolorprmarycolorpalettepurple100: #eaeaf8;
  --dmcolorprmarycolorpalettepurple0: #f2f2f8;
  --dmcolorprmarycolorpaletteneutral1100: #040404;
  --dmcolorprmarycolorpaletteneutral1000: #182020;
  --dmcolorprmarycolorpaletteneutral900: #293333;
  --dmcolorprmarycolorpaletteneutral800: #384141;
  --dmcolorprmarycolorpaletteneutral700: #545e5f;
  --dmcolorprmarycolorpaletteneutral600: #70797a;
  --dmcolorprmarycolorpaletteneutral500: #939a9b;
  --dmcolorprmarycolorpaletteneutral400: #b1b6b7;
  --dmcolorprmarycolorpaletteneutral300: #c9cccc;
  --dmcolorprmarycolorpaletteneutral200: #dfe1e1;
  --dmcolorprmarycolorpaletteneutral100: #f3f4f4;
  --dmcolorprmarycolorpaletteneutral0: #ffffff;
  --dmcolorprmarycolorpaletteteal1100: #0b2427;
  --dmcolorprmarycolorpaletteteal1000: #1b3e3e;
  --dmcolorprmarycolorpaletteteal900: #2a6461;
  --dmcolorprmarycolorpaletteteal800: #357a7b;
  --dmcolorprmarycolorpaletteteal700: #42948e;
  --dmcolorprmarycolorpaletteteal600: #4aa69c;
  --dmcolorprmarycolorpaletteteal500: #58c1b2;
  --dmcolorprmarycolorpaletteteal400: #6addc6;
  --dmcolorprmarycolorpaletteteal300: #97e7d5;
  --dmcolorprmarycolorpaletteteal200: #c0f0e6;
  --dmcolorprmarycolorpaletteteal100: #d5f6ef;
  --dmcolorprmarycolorpaletteteal0: #e9f8f5;
  --dmcolorprmarycolorpalettepink1100: #281821;
  --dmcolorprmarycolorpalettepink1000: #4f1930;
  --dmcolorprmarycolorpalettepink900: #872647;
  --dmcolorprmarycolorpalettepink800: #a43b5b;
  --dmcolorprmarycolorpalettepink700: #be4466;
  --dmcolorprmarycolorpalettepink600: #cf517c;
  --dmcolorprmarycolorpalettepink500: #de638b;
  --dmcolorprmarycolorpalettepink400: #ee7fad;
  --dmcolorprmarycolorpalettepink300: #f19bc0;
  --dmcolorprmarycolorpalettepink200: #f4b8d4;
  --dmcolorprmarycolorpalettepink100: #f7dcea;
  --dmcolorprmarycolorpalettepink0: #fbeaf2;
  --dmcolorprmarycolorpalettered1100: #281212;
  --dmcolorprmarycolorpalettered1000: #641c18;
  --dmcolorprmarycolorpalettered900: #8d2d28;
  --dmcolorprmarycolorpalettered800: #b6403b;
  --dmcolorprmarycolorpalettered700: #ca4b45;
  --dmcolorprmarycolorpalettered600: #dc584a;
  --dmcolorprmarycolorpalettered500: #e56a5b;
  --dmcolorprmarycolorpalettered400: #ef8674;
  --dmcolorprmarycolorpalettered300: #f1a193;
  --dmcolorprmarycolorpalettered200: #f4bbb3;
  --dmcolorprmarycolorpalettered100: #f8d7d3;
  --dmcolorprmarycolorpalettered0: #fbebe9;
  --dmcolorprmarycolorpaletteorange1100: #2a140f;
  --dmcolorprmarycolorpaletteorange1000: #581d09;
  --dmcolorprmarycolorpaletteorange900: #8a341a;
  --dmcolorprmarycolorpaletteorange800: #bf5c29;
  --dmcolorprmarycolorpaletteorange700: #de763a;
  --dmcolorprmarycolorpaletteorange600: #e68246;
  --dmcolorprmarycolorpaletteorange500: #ee8e53;
  --dmcolorprmarycolorpaletteorange400: #f2a069;
  /* This is our main color. And this description will show inside the documentation */
  --dmcolorprmarycolorpaletteorange300: #f4b388;
  --dmcolorprmarycolorpaletteorange200: #f6c7a9;
  --dmcolorprmarycolorpaletteorange100: #f7ddce;
  --dmcolorprmarycolorpaletteorange0: #fceee4;
  --dmcolorprmarycolorpaletteyellow1100: #2a1b08;
  --dmcolorprmarycolorpaletteyellow1000: #4e2c0b;
  --dmcolorprmarycolorpaletteyellow900: #8b4f1f;
  --dmcolorprmarycolorpaletteyellow800: #b0772a;
  --dmcolorprmarycolorpaletteyellow700: #d49b35;
  --dmcolorprmarycolorpaletteyellow600: #f6be41;
  --dmcolorprmarycolorpaletteyellow500: #f8ce4c;
  --dmcolorprmarycolorpaletteyellow400: #fad961;
  --dmcolorprmarycolorpaletteyellow300: #fbe17f;
  --dmcolorprmarycolorpaletteyellow200: #fbe9a4;
  --dmcolorprmarycolorpaletteyellow100: #fbeed1;
  --dmcolorprmarycolorpaletteyellow0: #fef8e4;
  --dmcolorprmarycolorpalettemagenta1100: #271a2c;
  --dmcolorprmarycolorpalettemagenta1000: #3f1a4e;
  --dmcolorprmarycolorpalettemagenta900: #642a73;
  --dmcolorprmarycolorpalettemagenta800: #854091;
  --dmcolorprmarycolorpalettemagenta700: #a04da3;
  --dmcolorprmarycolorpalettemagenta600: #b659b4;
  --dmcolorprmarycolorpalettemagenta500: #cc6bd5;
  --dmcolorprmarycolorpalettemagenta400: #e38aef;
  --dmcolorprmarycolorpalettemagenta300: #e3b1ee;
  --dmcolorprmarycolorpalettemagenta200: #ecc7f4;
  --dmcolorprmarycolorpalettemagenta100: #f5e4fa;
  --dmcolorprmarycolorpalettemagenta0: #fcf0fe;
  --dmcolorprmarycolorsemanticcolorinfobackground: var(--dmcolorprmarycolorpaletteblue100);
  --dmcolorprmarycolorsemanticcolorinfoborder: var(--dmcolorprmarycolorpaletteblue500);
  --dmcolorprmarycolorsemanticcolorinfocolor: var(--dmcolorprmarycolorpaletteblue700);
  --dmcolorprmarycolorsemanticcolorinfoicon: var(--dmcolorprmarycolorpaletteblue800);
  /* Used for error backgrunds */
  --dmcolorprmarycolorsemanticcolorerrorbackground: var(--dmcolorprmarycolorpalettered100);
  --dmcolorprmarycolorsemanticcolorerrorborder: var(--dmcolorprmarycolorpalettered600);
  --dmcolorprmarycolorsemanticcolorerrorcolor: var(--dmcolorprmarycolorpalettered800);
  --dmcolorprmarycolorsemanticcolorerroricon: var(--dmcolorprmarycolorpalettered800);
  --dmcolorprmarycolorsemanticcoloropportunitybackground: var(--dmcolorprmarycolorpaletteteal100);
  --dmcolorprmarycolorsemanticcoloropportunityborder: var(--dmcolorprmarycolorpaletteaqua300);
  --dmcolorprmarycolorsemanticcoloropportunitycolor: var(--dmcolorprmarycolorpaletteaqua800);
  --dmcolorprmarycolorsemanticcoloropportunityicon: var(--dmcolorprmarycolorpaletteaqua700);
  --dmcolorprmarycolorsemanticcolorprimarybackground: var(--dmcolorprmarycolorpalettemagenta500);
  --dmcolorprmarycolorsemanticcolorprimaryactivebackground: var(--dmcolorprmarycolorpalettemagenta500);
  --dmcolorprmarycolorsemanticcolorprimaryhoverbackground: var(--dmcolorprmarycolorpalettemagenta800);
  --dmcolorprmarycolorsemanticcolorprimaryhovercolor: var(--dmcolorprmarycolorpalettemagenta1000);
  --dmcolorprmarycolorsemanticcolorprimaryhoverinnactivebackground: var(--dmcolorprmarycolorpalettemagenta100);
  --dmcolorprmarycolorsemanticcolorprimaryhoverinnactivecolor: var(--dmcolorprmarycolorpalettemagenta700);
  --dmcolorprmarycolorsemanticcolorprimaryborder: var(--dmcolorprmarycolorpalettemagenta600);
  --dmcolorprmarycolorsemanticcolorprimaryhoveractivebackground: var(--dmcolorprmarycolorpalettemagenta400);
  --dmcolorprmarycolorsemanticcolorprimarycolor: var(--dmcolorprmarycolorpaletteneutral0);
  /* Some test description */
  --dmcolorprmarycolorsemanticcolorsalesale30background: var(--dmcolorprmarycolorpaletteteal500);
  --dmcolorprmarycolorsemanticcolorsalesale50background: var(--dmcolorprmarycolorpalettepink600);
  --dmcolorprmarycolorsemanticcolorsalesale70background: var(--dmcolorprmarycolorpaletteyellow600);
  --dmcolorprmarycolorsemanticcolorsalecolor: var(--dmcolorprmarycolorpaletteneutral0);
  --dmcolorprmarycolorsemanticcolorsuccessbackground: var(--dmcolorprmarycolorpaletteaqua100);
  --dmcolorprmarycolorsemanticcolorsuccessborder: var(--dmcolorprmarycolorpaletteblue1000);
  --dmcolorprmarycolorsemanticcolorsuccesscolor: var(--dmcolorprmarycolorpaletteblue900);
  --dmcolorprmarycolorsemanticcolorsuccessicon: var(--dmcolorprmarycolorpaletteblue800);
  --dmcolorprmarycolorsemanticcolortextbody: var(--dmcolorprmarycolorpalettemagenta1000);
  --dmcolorprmarycolorsemanticcolortextheadline: var(--dmcolorprmarycolorpaletteorange1100);
  --dmcolorprmarycolorsemanticcolortextinverse: var(--dmcolorprmarycolorpaletteneutral0);
  --dmcolorprmarycolorsemanticcolortextsubtext: var(--dmcolorprmarycolorpaletteneutral700);
  --dmcolorprmarycolorsemanticcolorwarningbackground: var(--dmcolorprmarycolorpaletteorange700);
  --dmcolorprmarycolorsemanticcolorwarningborder: var(--dmcolorprmarycolorpaletteorange600);
  --dmcolorprmarycolorsemanticcolorwarningcolor: var(--dmcolorprmarycolorpaletteorange900);
  --dmcolorprmarycolorsemanticcolorwarningicon: var(--dmcolorprmarycolorpaletteorange800);
  --dmcolorprmarycolorbuttonbackgroundactive: var(--dmcolorprmarycolorsemanticcolorprimarybackground);
  --dmcolorprmarycolorbuttonbackgroundhover: var(--dmcolorprmarycolorsemanticcolorprimaryhoverbackground);
  --dmcolorprmarycolorbuttonbackgroundinnactive: var(--dmcolorprmarycolorsemanticcolorprimaryhoverinnactivebackground);
  --dmcolorprmarycolorbuttoncoloractive: var(--dmcolorprmarycolorsemanticcolorprimarycolor);
  --dmcolorprmarycolorbuttoncolorhover: var(--dmcolorprmarycolorsemanticcolorprimaryhovercolor);
  --dmcolorprmarycolorbuttoncolorinnactive: var(--dmcolorprmarycolorsemanticcolorprimaryhoverinnactivecolor);
}