/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --dscolorprimarydimensionpalettemagentanumber: 0px;
  --dscolorprimarydimensionsizingsize0: 0px;
  --dscolorprimarydimensionsizingsize2: 2px;
  --dscolorprimarydimensionsizingsize4: 4px;
  --dscolorprimarydimensionsizingsize8: 8px;
  --dscolorprimarydimensionsizingsize12: 12px;
  --dscolorprimarydimensionsizingsize16: 16px;
  --dscolorprimarydimensionsizingsize24: 24px;
  --dscolorprimarydimensionsizingsize32: 32px;
  --dscolorprimarydimensionnumber: 0px;
}