/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --dmcolorprmarydimensionpalettemagentanumber: 0px;
  --dmcolorprmarydimensionsizingsize0: 0px;
  --dmcolorprmarydimensionsizingsize2: 2px;
  --dmcolorprmarydimensionsizingsize4: 4px;
  --dmcolorprmarydimensionsizingsize8: 8px;
  --dmcolorprmarydimensionsizingsize12: 12px;
  --dmcolorprmarydimensionsizingsize16: 16px;
  --dmcolorprmarydimensionsizingsize24: 24px;
  --dmcolorprmarydimensionsizingsize32: 32px;
  --dmcolorprmarydimensionnumber: 0px;
}