/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --dsprimarydimensionpalettemagentanumber: 0px;
  --dsprimarydimensionsizingsize0: 0px;
  --dsprimarydimensionsizingsize2: 2px;
  --dsprimarydimensionsizingsize4: 4px;
  --dsprimarydimensionsizingsize8: 8px;
  --dsprimarydimensionsizingsize12: 12px;
  --dsprimarydimensionsizingsize16: 16px;
  --dsprimarydimensionsizingsize24: 24px;
  --dsprimarydimensionsizingsize32: 32px;
  --dsprimarydimensionnumber: 0px;
}