/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  /* Main title of the page */
  --dmcolorprmarytypographytitle1: 700 32px/40px "Inter";
  --dmcolorprmarytypographytitle2: 640 24px/32px "Inter";
  --dmcolorprmarytypographytitle3: 640 20px/28px "Inter";
  --dmcolorprmarytypographytitle4: 640 16px/24px "Inter";
  /* For documentation body */
  --dmcolorprmarytypographybodylargeweightregular: 400 16px/24px "Inter";
  /* For documentation body */
  --dmcolorprmarytypographybodylargeweightsemibold: 500 16px/24px "Inter";
  /* For documentation body */
  --dmcolorprmarytypographybodylargeweightbold: 640 16px/24px "Inter";
  /* Default text for everything */
  --dmcolorprmarytypographybodydefaultweightregular: 400 14px/20px "Inter";
  /* Default text for everything */
  --dmcolorprmarytypographybodydefaultweightsemibold: 500 14px/20px "Inter";
  /* Default text for everything */
  --dmcolorprmarytypographybodydefaultweightbold: 640 14px/20px "Inter";
  --dmcolorprmarytypographybodysmallweightregular: 400 12px/16px "Inter";
  --dmcolorprmarytypographybodysmallweightsemibold: 500 12px/16px "Inter";
  --dmcolorprmarytypographybodysmallweightbold: 640 12px/16px "Inter";
  --dmcolorprmarytypographycaptionweightregular: 400 12px/16px "Inter";
  --dmcolorprmarytypographycaptionweightsemibold: 500 12px/16px "Inter";
  --dmcolorprmarytypographycaptionweightbold: 640 12px/16px "Inter";
  --dmcolorprmarytypographycaptionsmallweightsemibold: 500 10px/12px "Inter";
  --dmcolorprmarytypographycaptionsmallweightbold: 640 10px/12px "Inter";
  --dmcolorprmarytypographydocstitle1: 640 28px/36px "Inter";
  --dmcolorprmarytypographydocstitle2: 640 24px/32px "Inter";
  --dmcolorprmarytypographydocstitle3: 640 20px/28px "Inter";
  --dmcolorprmarytypographydocstitle4: 640 18px/24px "Inter";
  --dmcolorprmarytypographyfeatured1largeweightregular: 400 32px/40px "Inter";
  --dmcolorprmarytypographyfeatured1largeweightmedium: 500 32px/40px "Inter";
  --dmcolorprmarytypographyfeatured1largeweightbold: 700 32px/40px "Inter";
  --dmcolorprmarytypographyfeatured2mediumweightregular: 400 24px/32px "Inter";
  --dmcolorprmarytypographyfeatured2mediumweightmedium: 500 24px/32px "Inter";
  --dmcolorprmarytypographyfeatured2mediumweightbold: 700 28.8px/32px "Inter";
  --dmcolorprmarytypographyfeatured3smallweightregular: 400 20px/28px "Inter";
  --dmcolorprmarytypographyfeatured3smallweightmedium: 500 20px/28px "Inter";
  --dmcolorprmarytypographyfeatured3smallweightbold: 700 20px/28px "Inter";
  --dmcolorprmarytypographydocstitle5: 640 16px/20px "Inter";
  --dmcolorprmarytypographydocsquote: 400 20px/28px "Inter";
  --dmcolorprmarytypographydocsbodydefault: 400 16px/24px "Inter";
  --dmcolorprmarytypographydocsbodymedium: 400 14px/20px "Inter";
  --dmcolorprmarytypographydocsbodymediumbold: 700 14px/20px "Inter";
  --dmcolorprmarytypographydocsbodysmall: 400 12px/16px "Inter";
}