/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-jupiter {
  --dsprimaryborderradiusnone: 0px;
  --dsprimaryborderradiussm: 4px;
  --dsprimaryborderradiusmd: 8px;
  --dsprimaryborderradiuslg: 16px;
  --dsprimaryborderradiusfull: 999px;
  --dsprimaryborderradiussemanticradiusprimary: var(--dsprimaryborderradiussm);
  --dsprimaryborderradiusbuttonradius: var(--dsprimaryborderradiussemanticradiusprimary);
}